---
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="Contact - Parker Brown">
    <div class="heading-container">
		<h1>Contact</h1>
		<hr>
		<p>
			Want to chat programming? Have a cool idea? Let's discuss!
		</p>
	</div>
    <div class="content-container">
        <ContactForm />
    </div>
</Layout>