<form action="https://formspree.io/f/myyvzeal" method="post">
    <fieldset>
        <label for="name">First & Last Name</label>
        <input id="name" name="name" type="text" placeholder="John Doe" required>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="john.doe@email.com" required>
    </fieldset>
    <fieldset>
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="8" placeholder="Type your message" required></textarea>
    </fieldset>
    <button type="submit">Send</button>
</form>

<style>
    form {
        @apply space-y-8 max-w-md;
    }

    form > fieldset {
        @apply flex flex-col gap-2;
    }

    form label {
        @apply block text-lg font-semibold text-gray-500;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        @apply text-gray-500 bg-gray-100 rounded px-2 py-3 outline-none focus:outline-2 focus:outline-blue-300 transition-all;
    }

    form button[type="submit"] {
        @apply w-full sm:w-fit block sm:inline-block text-center sm:text-left lowercase text-gray-500 font-semibold bg-gray-100 hover:bg-gray-200/75 hover:text-gray-600 px-8 py-2 rounded-full transition-colors;
    }
</style>