---
import type { MarkdownInstance } from "astro";

interface Recipe {
	title: string;
	summary: string;
	time: string;
	imageUrl: string;
	date: string;
    url: string;
}

const { recipe, showSummary } = Astro.props as { recipe: MarkdownInstance<Recipe>, showSummary?: boolean };
---

<a href={recipe.frontmatter.url} class="overflow-hidden relative pb-[65%] shadow-md rounded">
    <img src={recipe.frontmatter.imageUrl} alt={`Image of ${recipe.frontmatter.title}`} class="absolute top-0 left-0 w-full h-full object-cover -z-10" />
    <div class="absolute bottom-0 left-0 p-2">
        <h4 class="text-2xl text-gray-100 font-semibold">{ recipe.frontmatter.title }</h4>
        { showSummary && <p class="mt-1 text-gray-200">{ recipe.frontmatter.summary }</p> }
    </div>
</a>

<style>
    a {
        @apply rounded transition-shadow;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3) 35%,
            rgba(0, 0, 0, 0)
        )
    }

    a:hover {
        @apply ring-2 ring-gray-300;
    }
</style>